<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create">create user</a>
    </div>
    <form action="/create-user" method="POST" class="form-add">
        <fieldset>
            <legend>Tạo mới khách hàng</legend>
            <div class="mb-3">
                <label for="" class="form-label">Email:</label>
                <input type="text" name="Email" class="form-control" placeholder="Nhập email"
                    aria-describedby="helpId" />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Name:</label>
                <input type="text" name="Name" class="form-control" placeholder="Nhập tên" aria-describedby="helpId" />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">City:</label>
                <input type="text" name="city" class="form-control" placeholder="Nhập Thành phố"
                    aria-describedby="helpId" />

            </div>
            <div>
                <button type="submit" class="btn-custom">Save</button>
            </div>
        </fieldset>

    </form>
</body>

</html>